<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<!-- 配置全局日志级别 -->
	<targets>
		<!-- 日志输出到文件 -->
		<target xsi:type="Console" name="consoleTarget"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
		<target xsi:type="File" name="fileTarget"
				fileName="logs/log-${shortdate}.log"
				archiveFileName="logs/archives/log-{#}.log"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"
				archiveAboveSize="10485760"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<rules>
		<!-- 将所有日志级别写入到文件 -->
		<logger name="*" minlevel="Info" writeTo="fileTarget" />
	</rules>
</nlog>